@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #141414; /* Netflix-like dark background */
  color: #fff;              /* White text on dark background */
  font-family: 'Poppins', Arial, sans-serif;
}
.App {
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
